/* Importer la police Montserrat */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* Styles de base */
.projet-walkthrough {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px 50px;
  position: relative; /* Pour positionner la pagination et les boutons */
}

/* Styles pour chaque slide */
.swiper-slide {
  display: flex;
  width: 100%;
  overflow: hidden;
  align-items: center;
}

/* Styles pour chaque carte (slide) */
.card-item {
  width: 100%;
  max-width: 800px;
  padding: 35px;
  color: #fff;
  user-select: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border-radius: 10px;
  backdrop-filter: blur(30px);
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.card-item:hover {
  background: rgba(255, 255, 255, 0.15);
  transform: translateY(-5px);
  box-shadow: 0 12px 40px rgba(0, 0, 0, 0.2);
}

.card-content {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.card-item h2 {
  font-size: 1.8rem;
  margin-bottom: 5px;
  color: #fff;
  font-weight: 600;
}

.card-item p {
  font-size: 1.1rem;
  color: #e3e3e3;
  margin-bottom: 5px;
}

.projet-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  font-size: 0.9rem;
}

.company {
  color: #64ffda;
  font-weight: 500;
}

.projet-date {
  color: #999;
}

.projet-tasks {
  margin: 10px 0;
  padding-left: 20px;
  color: #ccc;
  font-size: 0.95rem;
  list-style-type: disc;
}

.projet-tasks li {
  margin-bottom: 8px;
  line-height: 1.4;
}

.projet-description {
  color: #ccc;
  font-size: 0.95rem;
  line-height: 1.5;
  margin-bottom: 15px;
}

.tech-stack {
  font-size: 0.95rem;
  color: #00a8ff;
  margin: 5px 0 15px;
  font-family: monospace;
  background: rgba(0, 0, 0, 0.2);
  padding: 8px 12px;
  border-radius: 4px;
  display: inline-block;
}

.voir-projet {
  font-size: 1rem;
  padding: 10px 20px;
  color: #fff;
  background: #0384d5;
  border-radius: 6px;
  font-weight: 500;
  cursor: pointer;
  border: none;
  transition: 0.2s ease;
  text-decoration: none;
  text-align: center;
  align-self: flex-start;
  margin-top: 10px;
  display: inline-block;
}

.voir-projet:hover {
  background: #0056b3;
  transform: translateY(-2px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

/* Styles pour les boutons de navigation */
.swiper-button-prev,
.swiper-button-next {
  color: #fff;
  background: rgba(255, 255, 255, 0.15);
  width: 40px !important;
  height: 40px !important;
  border-radius: 50%;
  transition: all 0.3s ease;
}

.swiper-button-prev:after,
.swiper-button-next:after {
  font-size: 18px !important;
  font-weight: bold;
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
  background: rgba
}