<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <!-- Remplacer les balises meta viewport et orientation existantes par celles-ci -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="ScreenOrientation" content="autoRotate:disabled">
    <meta name="orientation" content="landscape">
    <!-- Garder le reste inchangé -->
    <title>Image Slider Effect</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='slider/style.css') }}?v={{ static_version }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='slider/landscape.css') }}?v={{ static_version }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
</head>
<body>
    <div class="container">
        <div class="slide">
            <div class="item" style="background: url('{{ url_for('static', filename='images/grafana.png') }}?v={{ static_version }}');">
                <!-- Ajout d'un overlay pour améliorer la lisibilité -->
                <div class="overlay"></div>
                <div class="content">
                    <div class="name">Suivi des métriques avec Grafana </div>
                    <div class="description">Grafana a été utilisé pour visualiser et analyser les métriques collectées, notamment par Prometheus. Grâce à ses tableaux de bord interactifs, il permet de suivre en temps réel l’état des services et d’identifier rapidement d’éventuelles anomalies. Cette visibilité facilite la prise de décision et l’optimisation des performances du système.</div>
                    <button onclick="openFullscreen(this)" class="fullscreen-btn">Voir un exemple de graphique <i class="fa-solid fa-expand"></i></button>
                </div>
            </div>
            <div class="item" style="background: url('{{ url_for('static', filename='images/Docker.png') }}?v={{ static_version }}');">
                <div class="overlay"></div>
                <div class="content">
                    <div class="name">Services déployés dans des conteneurs Docker</div>
                    <div class="description">La conteneurisation permet d’isoler, déployer et orchestrer efficacement les différents services (Airflow, API, bases de données, monitoring…) en assurant leur portabilité, leur scalabilité et leur reproductibilité sur n'importe quelle infrastructure via Docker. 🚀</div>
                    <button onclick="openFullscreen(this)" class="fullscreen-btn">Voir les Services <i class="fa-solid fa-expand"></i></button>
                </div>
            </div>
            <div class="item" style="background: url('{{ url_for('static', filename='images/FastAPI.png') }}?v={{ static_version }}');">
                <div class="overlay"></div>
                <div class="content">
                    <div class="name">Exposition de l'application via FastAPI</div>
                    <div class="description">Grâce à la documentation interactive fournie par FastAPI (via Swagger UI et ReDoc), les utilisateurs peuvent interagir avec les endpoints de l’API directement depuis leur navigateur. Cela permet d'envoyer des requêtes aux différentes routes, de voir les réponses en temps réel et de mieux comprendre les fonctionnalités exposées par l'application. </div>
                    <button>Voir les différentes routes <i class="fa-solid fa-expand"></i></button>
                </div>
            </div>
            <div class="item" style="background: url('{{ url_for('static', filename='images/Mongodb.png') }}?v={{ static_version }}');">
                <div class="overlay"></div>
                <div class="content">
                    <div class="name">Gestion des données via MongoDB</div>
                    <div class="description">Le stockage des données combine MongoDB pour les données tabulaires et GridFS pour les fichiers volumineux comme les images. Les collections classiques contiennent les données prétraitées, les prédictions et les métadonnées des modèles, tandis que GridFS segmente les fichiers en plusieurs morceaux (fs.files et fs.chunks). L’exploration des collections se fait via Mongo Express pour une interface web rapide. 🚀</div>
                    <button>Voir les collections <i class="fa-solid fa-expand"></i></button>
                </div>
            </div>
            <div class="item" style="background: url('{{ url_for('static', filename='images/mlflow.png') }}?v={{ static_version }}');">
                <div class="overlay"></div>
                <div class="content">
                    <div class="name">Suivi des modèles sous MLflow</div>
                    <div class="description">MLflow a permis de centraliser le suivi des modèles, facilitant la gestion des versions et la reproductibilité des résultats. Il aide à comparer les performances des modèles et garantit la traçabilité des expérimentations.</div>
                    <button>Voir les différents entraînements <i class="fa-solid fa-expand"></i></button>
                </div>
            </div>
            <div class="item" style="background: url('{{ url_for('static', filename='images/airflow.png') }}?v={{ static_version }}');">
                <div class="overlay"></div>
                <div class="content">
                    <div class="name">Orchestration des workflows avec Airflow</div>
                    <div class="description">Apache Airflow a été utilisé pour orchestrer différents workflows, notamment la labélisation des données, le déploiement de code en CI/CD et la gestion des branches Git. Grâce aux DAGs, ces processus sont automatisés et intégrés dans un pipeline fluide, garantissant une exécution efficace et reproductible.</div>
                    <button>Voir les DAGs <i class="fa-solid fa-expand"></i></button>
                </div>
            </div>
            <div class="item" style="background: url('{{ url_for('static', filename='images/prometheus.png') }}?v={{ static_version }}');">
                <!-- Ajout d'un overlay pour améliorer la lisibilité -->
                <div class="overlay"></div>
                <div class="content">
                    <div class="name">Monitoring des métriques avec Prometheus </div>
                    <div class="description">Prometheus a été utilisé pour surveiller en temps réel les métriques des différents services. Il permet de collecter, stocker et analyser les données de performance, facilitant ainsi la détection des anomalies et l’optimisation des ressources.</div>
                    <button onclick="openFullscreen(this)" class="fullscreen-btn">Voir les cibles surveillées <i class="fa-solid fa-expand"></i></button>
                </div>
            </div>
        </div>
        <div class="button">
            <button class="prev"><i class="fa-solid fa-arrow-left"></i></button>
            <button class="next"><i class="fa-solid fa-arrow-right"></i></button>
        </div>
    </div>
    
    <!-- Bouton retour au portfolio -->
    <div class="back-button-container">
        <a href="{{ url_for('accueil') }}" class="back-button">Retour au Portfolio</a>
    </div>
    
    <script src="{{ url_for('static', filename='slider/main.js') }}?v={{ static_version }}"></script>

<!-- Modal pour afficher l'image en plein écran -->
<div id="fullscreenModal" class="modal">
    <div class="modal-content">
        <span class="close-modal">&times;</span>
        <div class="modal-image-container">
            <img id="fullscreenImage" src="" alt="Image en plein écran">
        </div>
        <div class="modal-details">
            <h2 id="modalTitle"></h2>
            <p id="modalDescription"></p>
        </div>
    </div>
</div>
</body>
</html>